.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  margin-top: 92px;
  padding-left: 48px;
  padding-right: 48px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .photo-gallery{
    padding-left: 4.69%;
    padding-right: 4.69%;
  }
}

@media (max-width: 768px) {
  .photo-gallery{
    margin-top: 88px;
    padding-left: 3.1%;
    padding-right: 3.1%;
  }
}

@media (max-width: 320px) {
  .photo-gallery{
    padding-left: 16px;
    padding-right: 16px;
    gap: 12px;
    margin-top: 64px;
  }
}

